# Port number
PORT=3000

# URL of the Mongo DB
MONGODB_URL=mongodb://127.0.0.1:27017/node-boilerplate

# JWT
# JWT secret key
JWT_SECRET=thisisasamplesecret
# Number of minutes after which an access token expires
JWT_ACCESS_EXPIRATION_MINUTES=30
# Number of days after which a refresh token expires
JWT_REFRESH_EXPIRATION_DAYS=30
# Number of minutes after which a reset password token expires
JWT_RESET_PASSWORD_EXPIRATION_MINUTES=10
# Number of minutes after which a verify email token expires
JWT_VERIFY_EMAIL_EXPIRATION_MINUTES=10

# SMTP configuration options for the email service
# For testing, you can use a fake SMTP service like Ethereal: https://ethereal.email/create
SMTP_HOST=email-server
SMTP_PORT=587
SMTP_USERNAME=email-server-username
SMTP_PASSWORD=email-server-password
EMAIL_FROM=support@yourapp.com
BLOCKCHAIN_RPC=http://127.0.0.1:8888
REGISTRATOR_CONTRACT=registrator
SOVIET_CONTRACT=soviettest
DRAFT_CONTRACT=drafttest
GATEWAY_CONTRACT=gatetest
REGISTRATOR_WIF=5KQwr
SUPERUSER=chairman
CHAIRMAN_EMAIL=dacom.dark.sun@gmail.com
CHAIRAN_PASSWORD=29ae8016b
COOPNAME=testcoop
YA_SHOP_ID=
YA_SHOP_SECRET=
EXPLORER_API=http://127.0.0.1:6999

